@page "/"

<h1>Mind Vision - Mathematics</h1>
<br />

<MudPaper>
    <MudContainer Fixed="true">
        <br />
        <MudText>
            This App will enable the teacher to do CURD* operation to questions and share them with students in form of flash cards,
            The flash cards are done in real-time.
            <MudText>
                * this is a prototype to analyze the requirement hence only the Read (CRUD) operation is implemented.
            </MudText>
        </MudText>
        <br />

        <MudText>
            To test this app open in two or more tabs, in the first tab navigate to Quiz Admin, and in the other tabs navigate to Quiz.
            in the Admin Quiz page choose a question and click on send to share it with the other student, then start the flash cards in real time
        </MudText>
    </MudContainer>
</MudPaper>